
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #d6b6d6;
  }


.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px; 
  background-color: #333; 
  color: white;
}
.logo{
  justify-content: flex-start
  
}
.logoImg {
  width: 50px;
  height: auto;
}

.navbarHeading {
  display: flex;
  align-items: center;
}
.navbarHeading h2 {
  margin: 0;
}

  