.user-input-form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
  }
  .user-input-form h2 {
    text-align: center; 
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    
  }
  
  button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #555;
  }
  
.results {
  text-align: center;
}

.resultsHeading {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.bookList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listItem {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5%;
  padding: 15px;
  margin: 10px;
  width: 60%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.listItem:hover {
  transform: scale(1.05);
}
